h3{
    background-color: yellow;
    text-align: center;
    display: inline-block;
    position: relative;
}
h3::before{
    content:'';
    display: inline-block;
    width: 100px;
    height: 5px;
    margin-right: 25px;
    background-color: black;
    position: relative;
    bottom: 5px;
}
h3::after{
    /* content:"$"; */
    content:'';
    display: inline-block;
   /*  width: 100px;
    height: 5px;
    margin-left: 25px;
    background-color: black;
    position: relative;
    bottom: 10px; */
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 50px 0 50px 152px;
    border-color: transparent transparent transparent #FF4532;
    position: absolute;
    right: 0;
}