@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital@0;1&family=Sixtyfour+Convergence&display=swap');


body{
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.form-title{
    font-weight: 900;
}

.sixtyfour-convergence {
    font-family: "Sixtyfour Convergence", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0,
      "XELA" 0,
      "YELA" 0;
  }
  .secondary-title{
    font-size: 40px;
    color: red;
  }
/* .public-sans-100 {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.public-sans-200{
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
  .public-sans-200{
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
  .public-sans-400 {
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .public-sans-900 {
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  } */