*{
    box-sizing: border-box;
}

body{
    padding: 250px;
}
button{
    background-color: red;
    color: white;
    font-size: 20px;
    display: inline-block;
    padding: 20px 40px;
    border:3px solid black;
    opacity: 1;
    /* transition: color 3s, background-color 7s; */
    transition: all 3s;
}
button:hover{
    background-color: yellow;
    color: black;
    /* transition: all 3s; */

}
.rotate:hover{
    /* transform: rotate(-5deg); */
    rotate: 190deg;
}
.scale:hover{
    /* font-size: 40px;
    padding: 40px 80px; */
    /* transform: scale(0.7); */
    /* transform: scale(2, 0.7); */
    scale: 1.5 1.9;
}

.translate:hover{
    transform: translate(-10px, -20px);
}
.skew:hover{
    transform: skew(30deg, 10deg);
}

.super{

}
.super:hover{
    transform: rotate(45deg) scale(1.2) translate(20px, -10px);
}

svg path{
    fill: red;
}
.nice-button:hover .path-el{
    stroke: black;
    stroke-width: 3px;
    /* transform: scale(1.5); */
}