*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: lightblue;
}
header{
    padding: 20px;
    background-color: orange;
    /* position: static; */

    /* position: absolute; */
    /* position: fixed; */
    /* position: relative; */
    position: sticky;
    top:0;
    /* left: 0;
    right: 0;
    top: 0;
    bottom: 0 */
}
p{
    width: 150px;
    margin: 0 auto;
    font-size: 34px;
}