.item{
    padding: 20px;
    border: 1px solid red;
    background-color: gray;
    /* width: 200px; */
}
.item:nth-child(2){
    background-color: rgb(232, 72, 72);
    order: 6;
}
.item:nth-child(3){
    background-color: rgb(230, 223, 6);
    order: -2;
}
.item:nth-child(4){
    background-color: rgb(39, 213, 5);
}
.item:nth-child(5){
    background-color: rgb(4, 142, 55);
    align-self: flex-start;

}
.item:nth-child(6){
    background-color: rgb(49, 157, 245);
    height: 50px;
    /* font-size: 60px; */
    align-self: flex-end;
}
.item:nth-child(7){
    background-color: rgb(6, 67, 189);
    height: 100px;
    /* font-size: 20px; */
    align-self: center;

}
.item:nth-child(8){
    background-color: rgb(227, 14, 184);
    height: 150px;
    /* font-size: 50px; */
    order: -1;
}

.i-flex{
    display: inline-flex;
    border: 2px solid black;
}

.d-flex{
    height: 270px;
    margin: 100px auto;
    max-width: 1600px;
    border: 3px solid black;
    display: flex;
    /* flex-wrap: nowrap; */
    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-flow: flex-direction + flex-wrap; */
    /* flex-flow: row-reverse wrap; */
    /* justify-content: center; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* align-items: stretch; */
    /* align-items: flex-start; */
    /* align-items: center; */
    /* align-items: flex-end; */
    /* align-items: baseline; */
    row-gap: 20px;
    column-gap: 50px;
}
.card{
    background-color: gray;
}
.card.active{
    background-color: palevioletred;
}